{% extends 'layout.html' %}

{% block heading %}
        <h1 align="center">Remove Different Characters From the Text</h1>
{% endblock %}

{% block content %}
<form action="" , method="POST">
    <div align="center" class="row g-3">
        <div class="col">
            <h6>Find this in text:</h6>
            <input type="text" class="form-control-sm" name="find-char">
        </div>

        <div class="col">
            <h6>and replace it with</h6>
            <input type="text" class="form-control-sm" name="replace-text">
        </div>
    </div>
    <br>

    <div class="form-outline">
        <textarea id="user-note" name="user-note" class="form-control" id="text-area" cols="30" rows="10" placeholder="Type or Paste your text here">{{user_text}}</textarea>
    </div>

    <br>

    <div class="text-center">
        <button id="clear-text" type="button" class="btn btn-danger text-center">Clear Text</button>
        <button type="submit" class="btn btn-success text-center">Replace</button>
    </div>

</form>
{% endblock%}

{% block json_content %}
{% endblock %}