{% extends 'layout.html' %}

{% block heading %}
        <h1 align="center">Format your JSON here</h1>
{% endblock %}

{% block content %}
    <div class="json-form-container">
        <div class="row">
            <div class="col">
                <form action="/json_converter" method="POST">
                    <div class="form-outline">
                        <textarea id="json-input" name="json-input" class="form-control" cols="30" rows="10" placeholder="Paste your valid JSON here"></textarea>
                    </div>
                    <br>
                    <div align="center" class="submit-button-container">
                        <button type="submit" class="btn btn-success text-center">Pretty JSON</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form action="">
                    <div class="form-outline">
                        <textarea id="json-output" name="json-output" class="form-control" cols="30" rows="10" placeholder="Get pretty json format here">{{pretty_json}}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block json_content %}
{% endblock %}